@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin flex{
        max-width: 114rem;
        margin: 0 auto;
        display: flex;
}

@mixin shadow_colorback{
    background-color: $color-back-secondary;
    box-shadow: $shadow;
}


