//Colors font
$color-text-primary : #b6b6b6;
$color-text-white : #ffffff;
$color-text-black : #000000;
$color-text-blue : #138be7;
$color-text-red : #e8325d;
$color-text-green: #33c240;
$color-text-orange:#e1801a;

//Colors Background
$color-back-primary : #fafafa;
$color-back-secondary : #ffffff;
$color-back-blue: #138be7;
$color-back-green: #2ec531;

//Shadow
$shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);

//Font
$default-font-size: 1.6rem;

//Width
$max-width : 114rem;

